#container {
    width: 100%;
}

#content-main, #graphs{
    width: 45%;
}

#graphs {
    float: right;
    margin-left: 15px;
    border: 1px solid #CCCCCC;
}

#graphs > div {
    float: right;
}

.graph .title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.graph .label {
    font-size: 12px;
    font-weight: bold;
}

.graph .percentage {
    font-size: 11px;
}

.graph .measure .value {
    font-style: italic;
}