#content-main {
    width: 50%;
}

#content-main, #graphs{
    display: inline-block;
}

#graphs {
    float: left;
    padding: 15px;
    margin-left: 15px;
    border: 1px solid #CCCCCC;
}

.graph .title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.graph .label {
    font-size: 12px;
    font-weight: bold;
}

.graph .percentage {
    font-size: 11px;
}