{% extends "admin/change_list.html" %}
{% load adminmedia %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/splitscreen.css" />
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% admin_media_prefix %}thirdparty/d3.v2.min.js"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/graphs.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="graphs">
         <script type="text/javascript">
            window.addEventListener("load", function(){
                IGraphs.init();
                var piechart = new IGraphs.PieChart("Origins", 400, 400, 150);
                piechart.updateData("result_list", 1, 4);
                piechart.draw();
            }, false);
        </script>
    </div>
{% endblock %}